.itemDetailContainer {
    padding: 2rem;
    padding-top: 16rem;
    width: 100%;
    height: 100vh;

    background-color: var(--primario);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:800px) {
    .itemDetailContainer {

        padding-top: 8rem;

    }
}

@media screen and (max-width:480px) {
    .itemDetailContainer {
        padding-top: 8rem;
    }
}