.addDeleteCant {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;

}

.cant {
    color: black;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

@media screen and (min-width:600px) {
    .addDeleteCant {
        width: 50%;
        margin-bottom: 0;
        margin-right: 1rem;
    }
}