.shop-cart {
    padding-top: 0.3rem;
    width: 2rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
    grid-column: 3;
    margin: 0 auto;

}

.shop-cart p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: -32px;
    right: -12px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

@media screen and (max-width:800px) {
    .shop-cart {
        grid-column: 2;
        grid-row: 1;
    }
}