@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
  --primario: #9c27b0;
  --primarioOscuro: #89119d;
  --secundario: #ffce00;
  --secundarioOscuro: rgb(233, 187, 2);
  --blanco: #fff;
  --negro: #000;
  --fuente-principal: 'Staatliches', cursive;
}



/* ********** Reset ********** */
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: var(--fuente-principal);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;

}

a {
  text-decoration: none;
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--blanco);
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}


img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

li {
  list-style-type: none;
}


/* App */
.myApp {
  display: flex;
  flex-wrap: wrap;
}